.footer {
  background: $color-footer;
  padding: 15px 0px 15px 15px;
  font-size: 1.1em;
  &__svg {
    width: 125px;
    height: 35px;
    path {
      fill: $color-white;
    }
  }
  &__ul {
    &__a {
      &__li {
        color: $color-white;
        &__icon1 {
          padding: 0px 21px 0px 0px;
        }
        &__icon{
          padding: 0px 15px 0px 0px;
        }
      }
    }
  }
}